{% extends "layout.html" %}
{% block content %}

    <div class="content-section w-75 h-75 mt-3">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">{{ title }}</legend>

            <div class="form-group">
                {{ form.movie_title.label(class="form-control-label mt-4") }}
                
                {% if form.movie_title.errors %}
                    {{ form.movie_title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.movie_title(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.movie_industry.label(class="form-control-label") }}
                
                {% if form.movie_industry.errors %}
                    {{ form.movie_industry(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.movie_industry(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.movie_genr.label(class="form-control-label") }}
                
                {% if form.movie_genr.errors %}
                    {{ form.movie_genr(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.movie_genr(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.movie_image.label(class="form-control-label") }}
                
                {% if form.movie_image.errors %}
                    {{ form.movie_image(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.movie_image(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.release_date.label(class="form-control-label") }}
                
                {% if form.release_date.errors %}
                    {{ form.release_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.release_date(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            <div class="form-group">
                {{ form.cast.label(class="form-control-label") }}
                
                {% if form.cast.errors %}
                    {{ form.cast(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.cast(class="form-control form-control-lg") }}

                {% endif %}
            </div>

            

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info form-control  mt-4") }}
            </div>
        </form>
    </div>


{% endblock content %}