{% extends "layout.html" %}
{% block content %}

    <div class="row mt-5">
        <div id="Card" class="col-sm-2">

            <div class="card">
    

                <img src="static/movie_titles/avatar.jpg" alt="image" class="card-img-top" style="height: 10rem;">
                <div class="card-body">
                    <h5 class="card-title ">Shakeel</h5>
                    <p class="card-text">My name is shakeel haider</p>
                </div>
        
            </div>

        </div>
    </div>

{% endblock content %}