{% extends "layout.html" %}

{% block content %}


    <div class="container content-section">

        <form action="" method="post">

            <legend> Add Movie </legend>

            <div class="form-group">
                <input type="text" class="form-control" name="movie_title" placeholder="Movie Title" >
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="movie_title" placeholder="Movie Title" >
            </div>

        </form>

    </div>




{% endblock %}